<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
</head>
<body>
    <form action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        {{form.old_password.label}} {{ form.old_password }} <br>
        {{form.new_password.label}} {{ form.new_password }} <br>
        {{form.repeat_new_password.label}} {{ form.repeat_new_password }} <br>
        <button type="submit" class="btn btn-primary float-right btn-block">Подтвердить изменения</button>
    </form>
</body>
</html>
