# Engine
Django==3.1.7
Pillow==8.1.2
beautifulsoup4==4.9.3

# API
djangorestframework
django-cors-headers
django-filter
djangorestframework-simplejwt

# accounting
django-registration

# Documentation
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1

# .csv files
pandas

# DB
psycopg2
psycopg2-binary

# Timezone
pytz

# pylint
pylint-django==2.4.3

# tests
coverage==5.5
