<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
</head>
<body>

<h1 class="mt-4">Регистрация</h1>
    <hr>

    <div class="row">
        <div class="col-4 offset-4">

            <form action="{% url 'django_registration_register' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary float-right btn-block">Зарегистрироваться</button>
            </form>
        </div>
    </div>


</body>
</html>

