body{
  margin: 0;
	padding-top: 85px;
  font-family: 'Arial', sans-serif;
}

*{
  box-sizing: border-box;
}

h2{
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 40px;
  position: relative;
}
h2:after{
  content: ' ';
  display: block;
  position: absolute;
  width: 300px;
  height: 3px;
  background-color: #E22122;
  top: 50px;
  left: 0;
}

h3{
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0 20px;
}

h4{
	font-size: 18px;
	font-weight: 700;
}

p{
  font-size: 18px;
  line-height: 30px;
}

section{
  padding: 50px 0;
	position: relative;
  width: 700px;
  margin: auto;
}

.mainheader{
  background-color: grey;
  padding: 16px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.container{
  width: 900px;
  margin: auto;
}




.mainheader>.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mainnav>ul{
	display: flex;
	list-style: none;
	width: 550px;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
  margin-left: 25%;
}
.mainnav>ul li a{
	font-size: 18px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}
.mainnav>ul li a:hover{
	text-decoration: underline;
}
.mainnav>ul li.active a{
	text-decoration: underline;
	color: #E22122;
}

.mainnav>ul li img{
	vertical-align: middle;
}
