<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Order</title>
</head>
<body>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h4 class="mt-3">{{ form.price.label }} {{ form.price }}</h4>
          <h4 class="mt-3">{{ form.amount.label }} {{ form.amount }}</h4>
          <h4 class="mt-3">{{ form.type.label }}</h4>
          {{ form.type }}
<!--          <select name="type" required>-->
<!--            <option value="0"> Купить </option>-->
<!--            <option value="1"> Продать </option>-->
<!--          </select>-->
          <h4 class="mt-3">{{ form.stock.label }} {{ form.stock }}</h4>
          <input type="submit" value="Отправить" class="btn btn-primary mt-3">
          <button><a href="/trading/leverage/">Торговое плечо</a></button>
      </form>
</body>
</html>
